/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.row-board {
    padding: 5px;
}

button {
    margin-right: 100px;
    margin-bottom: 30px;
    height: 100px;
    width: 165px;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
}




